<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Update your password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/update_pass.css') }}">
</head>
<body>
  <div class="container">
    <h1>Update your password</h1>
    <p>Set your new password with minimum 8 characters with<br>a combination of letters and numbers</p>

    <form action="{{ url_for('reset_password', token=token) }}" method="POST">
      <label for="newPassword">New password<span style="color:red">*</span></label>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        placeholder="Enter new password"
        required
      />

      <ul class="requirements">
        <li id="length" class="invalid">8 characters</li>
        <li id="number" class="invalid">Number (0-9)</li>
        <li id="uppercase" class="invalid">Uppercase letter (A-Z)</li>
        <li id="lowercase" class="invalid">Lowercase letter (a-z)</li>
      </ul>

      <label for="confirmPassword">Confirmation New password<span style="color:red">*</span></label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="Pre-type your new password"
        required
      />

      <button type="submit">Submit</button>
    </form>
  </div>

  <script src="{{ url_for('static', filename='js/update_pass.js') }}"></script>
</body>
</html>
